*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: white;
}
.protoLogo{
    width: 120px;
    margin-left: 120px;
    margin-bottom: 10px;
    border: solid 1px #999999;
}
.protoSc{
     width: 230px;
}
.details{
    width: 70px;
    margin-left:145px ;
}
.bodyCover{
    margin-top:-40px ;
    display: flex;
    justify-content: center;
}
.form-body{
    display: grid;
    margin-top: 60px;
    text-align: center;
}
.the-first-text{
   color:#663399;
   font-size: 7px;
   margin-top: -10px;
   font-weight: 800;
}
input,button,label{
    margin-bottom: 5px;
}
.long-bar-text{
   width:350px;
   padding-top: 2px;
   padding-bottom: 2px;
   background-color: #313178;
   color: white;
   font-size: 10px;
   border-radius: 4px;

}
.student-number{
   font-weight:700;
   font-size: 13px;

}
.input-student-number{
    width: 130px;
    height: 24px;
    margin-left: 104px;
    border-color: #999999;
    border:inset 1px;
    border-radius: 3px;
    font-size: 15px;
}
.input-student-number:hover ,.input-password:hover{
    box-shadow: 0px 0px 7px #0066CC;
}
.student-number-text{
    font-size: 10px;
}
.input-password{
    width: 50px;
    height: 10px;
    margin-left: 148px;
    border:inset 1.5px;
    border-radius: 3px;
    border: solid 1px #999999;
    font-size: 15px;
}
.student-number,button,.long-bar-text,.form-body,.Sponsor-text,.Login-button{
    font-family: Arial, Helvetica, sans-serif;
}
.Sponsor-text{
    background-color:whitesmoke ;
    font-size: 12px;
    color: #0066CC;
    padding: 4px 10px;
    border-radius: 4px;
    width: 190px;
    margin-left: 70px;
}
.input-student-number:focus ,.input-student-number:hover ,.input-password:focus,.input-password:hover{
    outline: none;
    border-color: #0066CC;
    
}
.Notices{
    margin-top: 10px;
}
button{
    width: 70px;
    color: white;
    background-color: #007bff;
    border: none;
    margin-left: 147px;
    font-size: 15px;
    padding: 5px 5px ;
    border-radius: 4px;
    margin-bottom: 10px;
}
.Login-button{
    font-size: 17px;
    margin-left: 144px;
    padding: 6px 50px 6px 15px;
}
.instruction{
    font-weight: 900;
    font-size: 6px;
}
